<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="common_header(title)">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <title>Home Supervisor</title>
    <meta name="viewport" content="width=device-width, initial-scale=1 shrink-to-fit=no">
    <meta name="description" content="Home Supervisor Application">
    <meta name="author" content="Maciej Skrobiszewski">

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{../../static/css/floating-labels.css}">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.18/af-2.3.3/b-1.5.6/b-colvis-1.5.6/b-flash-1.5.6/b-html5-1.5.6/b-print-1.5.6/cr-1.5.0/fc-3.2.5/fh-3.1.4/kt-2.5.0/r-2.2.2/rg-1.1.0/rr-1.2.4/sc-2.0.0/sl-1.3.0/datatables.min.css">
</head>
<footer th:fragment="footer-script(title)" th:remove="tag">
<!--    <div th:replace="layout/footers :: jQryPopBS"></div>
    <div th:replace="layout/footers :: dateTableScript"></div>
    <script src="js/dataTable.js"
            th:src="@{js/dataTable.js}"></script>-->
    <th:block th:insert="script"></th:block>
    <div class="container">
        <style>
            footer {
                color: dimgray;
                font-size: small;
            }
        </style>
        <div class="modal-footer text-muted">
            <th:block th:replace="${title}"/><br/>
            Copyright &copy; Maciej Skrobiszewski
        </div>
    </div>
</footer>

<div id="datetablescript" th:fragment="dateTableScript" th:remove="tag">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/jq-3.3.1/dt-1.10.18/af-2.3.3/b-1.5.6/b-colvis-1.5.6/b-flash-1.5.6/b-html5-1.5.6/rg-1.1.0/rr-1.2.4/sl-1.3.0/datatables.min.css"/>

<!--    <script src="webjars/datatables/1.10.19/js/jquery.dataTables.min.js"
            th:src="@{webjars/datatables/1.10.19/js/jquery.dataTables.min.js}"></script>
    <script src="webjars/datatables/1.10.19/js/dataTables.bootstrap4.min.js"
            th:src="@{webjars/datatables/1.10.19/js/dataTables.bootstrap4.min.js}"></script>-->
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/jq-3.3.1/dt-1.10.18/af-2.3.3/b-1.5.6/b-colvis-1.5.6/b-flash-1.5.6/b-html5-1.5.6/rg-1.1.0/rr-1.2.4/sl-1.3.0/datatables.min.js"/>

</div>

<th:block th:name="script" th:remove="tag">
        <script th:src="@{/webjars/jquery/3.3.1-1/jquery.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/4.1.3/js/bootstrap.bundle.min.js}"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/jq-3.3.1/dt-1.10.18/af-2.3.3/b-1.5.6/b-colvis-1.5.6/b-flash-1.5.6/b-html5-1.5.6/rg-1.1.0/rr-1.2.4/sl-1.3.0/datatables.min.js"/>
</th:block>
</html>