<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymelear.org">

<head th:insert="layout/layout :: common_header( ~{::title} )"/>
 <title>'Home Supervisor Application</title>
</head>
<body>
  <p th:text="tekst">text</p>
</body>
<footer th:insert="layout/"
></footer>
<script th:insert="layout/layout :: script" th:remove="tag"/>
</html>